<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Delete Person Confirmation</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Delete Person Confirmation</h2>
        <p>Are you sure you want to delete the person with ID <span th:text="${person.id}"></span>?</p>
        <a th:href="@{'/deleteOK/' + ${person.id}}">Delete</a>
        <a th:href="@{'/persons'}">Cancel</a>
        <div>TODO write content</div>
    </body>
</html>
