<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Person Information</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Person Information</h2>
        <p>Name:<span th:text="${person.name}"></span></p>
        <p>Surname:<span th:text="${person.surname}"></span></p>
        <p>Phone:<span th:text="${person.phone}"></span></p>
        <p>Email:<span th:text="${person.email}"></span></p>
        <br>
        <a th:href="@{'/person'}">Ir a formulario</a>
    </body>
</html>
