<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person List</title>
</head>
<body>
    <h2>Person List</h2>
    <div class="text-center">
        <a th:href="@{/emails-with-gmail}" class="btn btn-success btn-lg">Mostrar @GMAIL</a>
        <a th:href="@{/persons}" class="btn btn-success btn-lg">Mostrar TODOS</a>
    </div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone</th>
            <th>EMail</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
        <tr th:each="person : ${persons}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.name}"></td>
            <td th:text="${person.surname}"></td>
            <td th:text="${person.phone}"></td>
            <td th:text="${person.email}"></td>
            <td>
                <ul>
                    <li th:each="rol : ${person.roles}" th:text="${rol.nombre}">  
                    </li>
                </ul>
            </td>
            <td>
                <a th:href="@{'/update/' + ${person.id}}">Update</a>
                <a th:href="@{'/delete/' + ${person.id}}">Delete</a>
            </td>
            
        </tr>
    </table>
    <br>
    <a th:href="@{'/person'}">Ir a formulario</a>
</body>
</html>
